@import "../mixins/mixins"
@import "../mixins/vars"

.ContactSection
  background-color: #C6C6C6
  padding-top: 100px
  padding-bottom: 120px
  .container
    h2
      @include titleMix(#131313)
      margin-bottom: 76px
    .rightSide
      width: 600px
      margin-left: auto
      position: relative
      form
        @include formMix
        display: flex
        flex-direction: column

  @media only screen and (max-width: 1919px)
    padding-top: 50px
    padding-bottom: 88px
    .container
      .rightSide
        width: 500px
      h2
        margin-bottom: 30px


  @media only screen and (max-width: 1199px)
    padding-top: 40px
    .container
      h2
        margin-bottom: 130px
      .rightSide
        margin-left: 0
        margin: auto

  @media only screen and (max-width: 576px)
    padding-top: 20px
    .container
      h2
        margin-bottom: 60px
      .rightSide
        width: 305px

