@import "../mixins/mixins"
@import "../mixins/vars"

.ContactSection
  background-color: #fff
  padding-top: 100px
  padding-bottom: 120px
  position: relative
  .triangle
    @include triangle()
    clip-path: polygon(100% 0, 0 0, 0 75%)
    top: -1px
    bottom: inherit
    z-index: 1
  .container
    z-index: 10
    position: relative
    h2
      @include titleMix(#fff)
      color: #fff
      margin-bottom: 76px
    .rightSide
      width: 600px
      margin-left: auto
      position: relative
      form
        @include formMix
        display: flex
        flex-direction: column
        textarea
          resize: none

  @media only screen and (max-width: 1919px)
    padding-top: 50px
    padding-bottom: 88px
    .container
      .rightSide
        width: 500px
        padding-top: 50px
      h2
        margin-bottom: 30px


  @media only screen and (max-width: 1199px)
    padding-top: 40px
    .container
      h2
        margin-bottom: 130px
      .rightSide
        margin-left: 0
        margin: auto

  @media only screen and (max-width: 576px)
    padding-top: 20px
    .container
      h2
        margin-bottom: 60px
      .rightSide
        width: 305px

