@import '../mixins/mixins'

.DashboardSection
  background-color: #fff
  padding-top: 75px
  position: relative
  padding-bottom: 230px
  .triangle
    @include triangle()
  .container
    display: flex
    .leftSide
      margin-left: 0
      .circles
        display: none
      h2
        margin-top: 25px
        @include titleMix(#131313)
        margin-bottom: 90px
      p
        font-size: 36px
        font-family: "SequelMediumDisp"
        width: 710px
        line-height: 140%
    .rightSide
      margin-left: auto
    .rightSide, .leftSide
      .circles
        margin-right: -118px
        width: 550px
        height: 550px
        position: relative
        .firstText, .secondText, .thirdText
          position: absolute
          width: 125px
          font-size: 18px
          left: 95px
          bottom: 95px
          color: #666
          transition: opacity .3s ease
          line-height: 140%
          &.active
            color: #131313
            span
              color: #131313
          span
            display: block
            font-size: 18px
            font-family: 'SequelMediumDisp', sans-serif
        .secondText
          bottom: 206px
          left: 206px
        .thirdText
          bottom: 315px
          left: 318px
        .firstLevel, .secondLevel, .thirdLevel
          width: 550px
          height: 550px
          z-index: 1
          top: 0
          right: 0
          border-radius: 50%
          border: 1px solid #BABCBE
          transition: border .3s ease
          position: absolute
          animation: round 4s linear infinite
          &:hover
            border-color: #131313
            &:after
              opacity: 1
          &:after
            @include afterMix
            transition: opacity .3s ease
            opacity: 0
            width: 14px
            height: 14px
            background: #01C497
            border-radius: 50%
            top: -7px
            left: calc(50% - 7px)
        .secondLevel
          position: absolute
          z-index: 2
          right: 23px
          top: 23px
          width: 400px
          height: 400px
        .thirdLevel
          position: absolute
          z-index: 3
          right: 42px
          top: 45px
          width: 250px
          height: 250px

  .container
    &:last-child
      margin-top: 97px
      display: block
      position: relative
      img
        position: absolute
        top: 0px
        right: -223px
        width: 875px
      h3
        &.ultimate
          font-size: 36px
          color: #000
          font-family: "SequelMediumOblBody"
          opacity: 0
          height: 0
          pointer-events: none
        &.screening
          margin-top: 310px
          @include titleMix(#131313)
      p
        width: 537px
        font-family: "SequelLightBody"
        line-height: 140%
        &.text1
          margin-top: 90px
        &.text3
          margin-top: 66px
          margin-bottom: 30px
      .textWrapper
        margin-top: 90px
        display: flex
        justify-content: space-between





  @media only screen and (max-width: 1919px)
    padding-top: 50px
    padding-bottom: 180px
    .container
      .leftSide
        width: 590px
        p
          font-size: 30px
          width: 100%
      h3
        &.ultimate
          font-size: 36px
      .rightSide, .leftSide
        .circles
          margin-right: 0
          width: 360px
          height: 360px
          .firstText, .secondText, .thirdText
            font-size: 12px
            span
              font-size: 12px
          .firstText
            bottom: 56px
            left: 62px
            width: 80px
          .secondText
            bottom: 130px
            left: 134px
            width: 85px
          .thirdText
            bottom: 200px
            left: 208px
            width: 85px

          .firstLevel
            width: 360px
            height: 360px
          .secondLevel
            width: 261px
            height: 261px
            top: 14px
            right: 14px
          .thirdLevel
            width: 163px
            height: 163px
            top: 28px
            right: 28px

      &:last-child
        margin-top: 20px
        img
          width: 912px
          right: -106px
          top: -290px
        h3
          &.ultimate
            display: none
        p
          font-size: 16px
          width: 500px
          &.text1, &.text2
            width: 360px
          &.text1
            margin-top: 50px
            margin-bottom: 30px
          &.text3
            width: 500px
        .textWrapper
          margin-top: 51px

  @media only screen and (max-width: 1359px)
    .container
      .leftSide
        width: 100%
        .circles
          display: flex
        p
          font-size: 20px
          width: 70%
        h2
          margin-bottom: 40px
        .circles
          float: right
          margin: 0 0 0 30px
      .rightSide
        display: none
        .circles
          margin-top: 280px
          float: right
      &:last-child
        margin-top: -70px
        h3.screening
          margin-top: 32px
          margin-bottom: 50px
        img
          width: 100%
          max-width: 658px
          position: relative
          top: 0
          right: 0
        .textWrapper
          flex-direction: column
          p:first-child
            margin-bottom: 40px

  @media only screen and (max-width: 992px)
    .container
      .leftSide
        p
          width: 80%
        .circles
          display: inline-block
      &:last-child
        margin-top: 0
      //.leftSide
      //  display: flex
      //  flex-direction: column
      //  .circles
      //    order: 2

  @media only screen and (max-width: 576px)
    padding-bottom: 85px
    padding-top: 20px
    position: relative
    .container
      .leftSide
        h2
          margin-top: 0
        p
          width: 100%
          margin-bottom: 30px
        .circles
          display: block
          float: inherit
          left: calc(50% - 180px)
          margin-left: 0
          position: absolute
          .firstText
            bottom: 46px
            left: 52px
            width: 80px
          .secondText
            bottom: 120px
            left: 120px
            width: 85px
          .thirdText
            bottom: 170px
            left: 198px
            width: 85px
      &:last-child
        margin-top: 381px
        p
          width: 100%
          font-size: 13px
          &.text3, &.text2, &.text1
            width: 100%





@keyframes round
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(-360deg)
