@import '../mixins/mixins'

.DashboardSection
  background-color: #fff
  padding-top: 75px
  position: relative
  padding-bottom: 430px
  .triangle
    @include triangle()
  .container
    h2
      margin-top: 25px
      @include titleMix(#131313)
      margin-bottom: 90px
    .dashboard
      p
        font-size: 36px
        font-family: "SequelMediumDisp"
        width: 710px
        line-height: 140%
      .compWrapper
        display: block
        float: right
      img
        vertical-align: middle

    .screening
      margin-top: 250px
      padding-top: 50px
    .afterDash
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 80px
      h3
        font-size: 36px
        margin-bottom: 70px
        font-family: 'Inter', sans-serif
      p
        font-size: 24px
        line-height: 140%
        max-width: 630px
      .imageWrapper
        & > div
          width: 630px
          height: 500px
          img
            width: 630px
            height: 500px
    .risk
      margin-bottom: 0




  @media only screen and (max-width: 1919px)
    padding-top: 50px
    padding-bottom: 180px
    .container
      p
        font-size: 30px
        width: 100%


  @media only screen and (max-width: 1359px)
    .container
      //width: 100%
      p
        font-size: 20px
        width: 70%
      h2
        margin-bottom: 40px




  @media only screen and (max-width: 992px)
    .container
      p
        width: 80%

  @media only screen and (max-width: 576px)
    padding-bottom: 85px
    padding-top: 20px
    position: relative
    .container
      h2
        margin-top: 0
      p
        width: 100%
        margin-bottom: 30px


