@import '../mixins/mixins'

.DashboardSection
  background-color: #fff
  padding-top: 75px
  height: 100vh
  .container
    h2
      margin-top: 25px
      @include titleMix(#131313)
      margin-bottom: 90px
    p
      font-size: 36px
      font-family: "SequelMediumDisp"
      width: 710px
      line-height: 140%