@import "../mixins/mixins"
@import "../mixins/vars"

.footerSection
  background-color: #131313
  .container
    display: flex
    justify-content: space-around
    border-top: 2px solid #fff
    padding-top: 105px
    padding-bottom: 90px
    .leftCol
      img
        width: 415px
        height: 162px
        margin-top: 14px
      span
        margin-top: 54px
        color: #fff
        display: block
    .centerCol
      h3
        font-family: "SequelMediumBody"
        font-size: 26px
        color: #fff
        text-transform: uppercase
        margin-bottom: 46px
      .linksLists
        display: flex
        ul
          &:first-child
            margin-right: 130px
            @media only screen and (min-width: 1360px) and (max-width: 1920px)
              margin-right: 50px
          li
            margin-bottom: 22px
            a
              font-family: "SequelMediumBody"
              color: #6F6F6F
              transition: color .3s ease
              &:hover
                color: #fff


    .rightCol
      width: 266px
      h3
        font-family: "SequelMediumBody"
        font-size: 26px
        color: #fff
        text-transform: uppercase
        margin-bottom: 46px
      .address
        margin-bottom: 36px
        font-family: "SequelLightBody"
        color: #fff
        line-height: 140%
        display: block
      .email
        font-family: "SequelLightBody"
        margin-bottom: 61px
        display: block
        color: #01C497
      .tel
        font-family: "SequelLightBody"
        margin-bottom: 65px
        display: block
      ul
        display: flex
        justify-content: space-between
        li

