@import "../mixins/mixins"
@import "../mixins/vars"

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1)
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95)

.OurTeamSection
  background-color: #fff
  padding-top: 104px
  padding-bottom: 515px
  position: relative
  .triangle
    @include triangle()
  .container
    h2
      @include titleMix(#131313)
      margin-bottom: 100px
    ul.teamLists
      display: flex
      justify-content: center
      li
        cursor: pointer
        position: relative
        transform: perspective(800px)
        transform-style: preserve-3d
        width: 430px
        height: 600px
        transition: .2s $returnEasing
        &:nth-child(2)
          margin: 0 auto

        &:hover
          .cardWrap
            transition: 0.6s $hoverEasing, box-shadow 2s $hoverEasing


        .cardWrap
          width: 100%
          height: 100%
          overflow: hidden
          box-shadow: rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(white, 0.5) 0 0 0 6px
          transition: 1s $returnEasing
          transform: perspective(800px)
          transform-style: preserve-3d


          img.teamImg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            transition: 1s $returnEasing, opacity 5s 1s $returnEasing


          .cardInfo
            transform: translateY(40%)
            transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1)
            position: absolute
            bottom: -60px

            &:after
              content: ''
              position: absolute
              top: 0
              left: 0
              z-index: 0
              width: 100%
              height: 100%
              background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%)
              background-blend-mode: overlay
              opacity: 0
              transform: translateY(100%)
              transition: 5s 1s $returnEasing
            .mainInfo
              display: flex
              justify-content: space-between
              margin-bottom: 23px
              padding: 0 20px
              span
                color: $accent
                font-family: "SequelMediumBody"
                font-size: 36px
            p
              opacity: 0
              padding: 0 20px
              line-height: 140%
              color: #fff
              transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1)


        &:hover
          .cardInfo
            bottom: 0

          .cardInfo p
            opacity: 1

          .cardInfo, .cardInfo p
            transition: 0.6s $hoverEasing

          .card-info:after
            transition: 5s $hoverEasing
            opacity: 1
            transform: translateY(0)

          .card-bg
            transition: 0.6s $hoverEasing, opacity 5s $hoverEasing
            opacity: 0.8

          .card
            transition: 0.6s $hoverEasing, box-shadow 2s $hoverEasing
            box-shadow: rgba(white, 0.2) 0 0 40px 5px, rgba(white, 1) 0 0 0 1px, rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px



  @media only screen and (max-width: 1919px)
    padding-top: 42px
    padding-bottom: 307px
    .container
      h2
        margin-bottom: 78px
      ul.teamLists
        li
          width: 287px
          height: 400px
          .cardWrap
            .cardInfo
              bottom: -100px
              .mainInfo
                span
                  font-size: 25px
                img
                  width: 25px
                  height: 25px
              .subInfo
                p
                  font-size: 11px
                  line-height: 140%

  @media only screen and (max-width: 1200px)
    .container
      ul.teamLists
        li
          width: 259px
          height: 360px

  @media only screen and (max-width: 992px)
    padding-bottom: 173px
    padding-top: 70px
    .container
      h2
        margin-bottom: 49px
      ul.teamLists
        li
          width: 175px
          height: 250px
          .cardWrap
            .cardInfo
              padding: 0
              .mainInfo
                span
                  font-size: 16px
                img
                  width: 16px
                  height: 16px

  @media only screen and (max-width: 767px)
    padding-top: 20px
    padding-bottom: 120px
    .container
      ul.teamLists
        flex-direction: column
        li
          width: 100%
          max-width: 315px
          height: 413px
          margin: auto
          margin-bottom: 40px
          &:nth-child(2)
            margin-bottom: 40px
          &:last-child
            margin-bottom: 0
          .cardWrap
            position: relative
            &:hover
              .hoverInfo
                opacity: 1
            .hoverInfo
              position: absolute
              width: 100%
              top: 0
              left: 0
              height: 100%
              background-color: #131313
              opacity: 0
              transition: opacity .4s $transition
              z-index: 1
              padding: 60px 30px
              p
                font-size: 16px
                font-family: "SequelLightBody", sans-serif
                line-height: 140%
                color: #fff
                max-height: 200px
                overflow: auto
                padding-right: 5px
                margin-bottom: 71px
              a
                @include greenBtn
                margin: auto

            .cardInfo
              padding: 0
              .mainInfo
                span
                  font-size: 25px
                img
                  width: 25px
                  height: 25px
              .subInfo
                p
                  font-size: 16px