@import './../mixins/mixins'
@import './../mixins/vars'

.TesteMonialsSection
  padding: 100px 0
  background-color: #fff
  .container
    h2
      @include titleMix(#131313)
      margin-bottom: 94px
    .testemonialsSlider
