@import "./vars"

@mixin centerMix
  display: flex
  align-items: center
  justify-content: center

@mixin titleMix($color)
  color: $color
  font-family: "SequelMediumDisp", sans-serif
  font-size: 26px
  padding-bottom: 35px
  border-bottom: 1px solid #666
  width: 330px

@mixin absoluteAll()
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

@mixin afterMix()
  content: ''
  display: block
  position: absolute
  box-sizing: border-box

@mixin triangle()
  width: 100%
  background-color: $backgroundColor
  clip-path: polygon(100% 30%, 0% 100%, 100% 100%)
  height: 432px
  position: absolute
  bottom: -1px
  left: 0
  z-index: 1

@mixin greenBtn
  width: 137px
  height: 40px
  border-radius: 50px
  border: 1px solid #00C497
  color: #00C497
  transition: all .3s ease
  cursor: pointer
  @include centerMix
  &:hover
    background-color: #00C497
    color: #131313


@mixin algCircle
  &:after, &:before
    @include afterMix
    right: -9px
    top: calc(50% - 9px)
    width: 18px
    background-color: $accent
    border-radius: 50%
    height: 18px
    border: 1px solid #131313
    z-index: 2
  &:before
    width: 20px
    border: none
    height: 20px
    right: -10px
    top: calc(50% - 10px)
    z-index: 1
    background-color: $accent