@import '~reset-css'
@import "./mixins/vars"
@import "~bootstrap/scss/bootstrap-grid"

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')

@font-face
  font-family: 'SequelBookBody'
  src: url('../public/fonts/SequelSans-BookBody.woff2') format('woff2')

@font-face
  font-family: 'SequelBookOblBody'
  src: url('../public/fonts/SequelSans-BookOblBody.woff2') format('woff2')

@font-face
  font-family: 'SequelHeavyBody'
  src: url('../public/fonts/SequelSans-HeavyBody.woff2') format('woff2')

@font-face
  font-family: 'SequelLightBody'
  src: url('../public/fonts/SequelSans-LightBody.woff2') format('woff2')

@font-face
  font-family: 'SequelMediumBody'
  src: url('../public/fonts/SequelSans-MediumBody.woff2') format('woff2')

@font-face
  font-family: 'SequelMediumDisp'
  src: url('../public/fonts/SequelSans-MediumDisp.woff2') format('woff2')

@font-face
  font-family: 'SequelMediumOblBody'
  src: url('../public/fonts/SequelSans-MediumOblBody.woff2') format('woff2')

@font-face
  font-family: 'SequelRomanBody'
  src: url('../public/fonts/SequelSans-RomanBody.woff2') format('woff2')

body, html
  background-color: #fff
  color: #131313
  font-family: 'SequelLightBody', sans-serif
  overflow-x: hidden
  scroll-behavior: smooth


*
  box-sizing: border-box
  &:focus-visible
    outline: none

input
  border-radius: 0 !important

a
  text-decoration: none
  color: #fff

*::-webkit-scrollbar
  width: 2px

*::-webkit-scrollbar-thumb
  background-color: $accent

*::-webkit-scrollbar-track
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset

.container
  width: 1475px
  max-width: inherit
  margin: 0 auto

@media only screen and (max-width: 1919px)
  .container
    width: 1166px

@media only screen and (max-width: 1359px)
  .container
    width: 1090px

@media only screen and (max-width: 1199px)
  .container
    width: 960px

@media only screen and (max-width: 992px)
  .container
    width: 720px

@media only screen and (max-width: 768px)
  .container
    width: 570px

@media only screen and (max-width: 576px)
  .container
    width: 360px

@media only screen and (max-width: 380px)
  .container
    width: 340px
